<!DOCTYPE html>
<html>
<head>
    <title>MyHome</title>
    <link rel="stylesheet" href="../public/css/tab.css">
<body id="body">
<h1 id="clock">00:00</h1>
<form method="get" action="http://www.google.com/search">
    <input id="search" type="text" name="q" size="31" maxlength="255" value="" placeholder="Search..." />
    <br />
</form>
<h2 id="notes">
    <text>NOTEPAD</text>
    <label for="noteText"></label><textarea id="noteText"></textarea>
</h2>
<button id="backgroundBtn" type="button">Change Background</button>
<button id="accountBtn" type="button">Account</button>
<div id="background-popup">
    <input id="background-url" type="text" placeholder="paste url..." />
    <button id="uploadBtn">Upload</button>
</div>
<div id="authentication-popup">
    <text id="authErr">Authentication failed. Please try again.</text>
    <text id="signupErr">Sign up failed. Please try again.</text>
    <input id="username" type="text" placeholder="username..." />
    <input id="password" type="password" placeholder="password..." />
    <button id="signInBtn">Sign In</button>
    <button id="signUpBtn">Sign Up</button>
    <button id="signOutBtn" >Sign Out</button>
</div>
</body>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/tab.js"></script>
<script src="../bundle.js"></script>
</html>
