body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #999;
    background-color: white;
}
#clock {
    position: absolute;
    top: 30%;
    left: 40%;
    margin: 10px 0;
    color: black;
    font-size: 60pt;
    line-height: 1.0;
    text-align: center;
}

#search {
    position: absolute;
    top: 45%;
    left: 29%;
    width: 520px;
    height: 30px;
    font-size: large;
}

h2#notes {
    position: absolute;
    top: 50%;
    left: 60%;
    padding: 10px;
    width: 35%;
    background-color: yellow;
    color: black;
}

textarea#noteText {
    height: 200px;
    width: 100%;
    color: black;
    background-color: yellow;
    border: hidden;
    resize: vertical;
    overflow: scroll;
}

h3#todo {
    position: absolute;
    top: 50%;
    left: 3%;
    padding: 10px;
    width: 35%;
    background-color: lightblue;
    color: black;
}

textarea#todoText {
    height: 200px;
    width: 100%;
    color: black;
    background-color: lightblue;
    border: hidden;
    resize: vertical;
    overflow: scroll;
}

h4#toplinks {
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 10px;
    width: 30%;
    background-color: pink;
    color: black;
}

textarea#topLinksText {
    height: 200px;
    width: 100%;
    color: black;
    background-color: pink;
    border: hidden;
    resize: vertical;
    overflow: scroll;
}

#widgetsBtn {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 3%;
    left: 70%;
}


#backgroundBtn {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 3%;
    left: 80%;
}

#accountBtn {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 3%;
    left: 90%;
}

div#widgets-popup {
    display: none;
    position: absolute;
    top: 10%;
    left: 70.3%;
    width: 100px;
    height: 200px;
}

div#background-popup {
    display: none;
    position: absolute;
    top: 10%;
    left: 80.2%;
    width: 200px;
    height: 50px;
}

div#authentication-popup {
    display: none;
    position: absolute;
    top: 10%;
    left: 90.8%;
    width: 100px;
    height: 200px;
}

#authErr {
    font-size: x-small;
    color: red;
    display: none;
}

#signupErr {
    font-size: x-small;
    color: red;
    display: none;
}

button {
    margin: 5px;
    width: 90px;
    background: blue;
    color: white;
}

input#username {
    width: 90px;
    margin: 5px;
}

input#password {
    width: 90px;
    margin: 5px;
}

button#signOutBtn {
    display: none;
}

